
body{


margin: 0px;
padding: 0px;
font-family: Verdana, serif;

}

header {

height: 70px;

line-height: 70px;

padding-left: 40px;

background: #333334;

color: #FFFFFF;


font-size: 3em;


font-weight: bold;


margin-bottom: 50px;

}

section{
    background: #CCC;
}

article{

display: flex;
justify-content: flex-start;

}

img{
border: dashed 1px #555;
margin: 5px;
padding: 10px;

}